<!--user Information-->
<div class="container" style="border: white solid 5px;">
  <div class="row" style="border: black solid 5px;">
    <!--will hold the profile information-->
    <div class="col-lg-6 col-md-6 col-sm-12 center">
      <h2>{{user.title}}, {{user.name}}</h2>
      <img style="height: 200px; width: 200px; border: solid red 5px" src="{{user.picture}}" />
      <div>
        <button routerLink='/authentication/profile'>Account Settings</button>
      </div>
      <div>
        <button routerLink='/app-pantry'>Profile Settings</button>
      </div>
      <div>
        <h3>Score: {{user.score}}</h3>
      </div>
      
      <!--friend information-->
      <div class="col-lg-12 center" style="border: solid red 5px">
        <h2>Friends</h2>
        <div *ngFor="let f of fList | slice:0:5">
          <div *ngIf="fList !== undefinded">
            <p>{{f.name}} : {{f.score}}</p>
          </div>
        </div>
      </div>
    </div>

    <!--notification information-->
    <div class="col-6" style="border: blue solid 5px;">
      <h2>Notifications</h2>
      <a routerLink="/app-invites">you have {{value}} notifications</a>
      <hr />
      <!--CookBook-->
      <div class="col-lg-6 col-md-6">
        <h2>Recipe List</h2>
        <!--add new recipe-->
        <div>
          <button routerLink='/add-recipe'>Add new recipe (20exp)</button>
        </div>
        <!--View Favorites-->
        <div>
          <button routerLink="/app-favorites">View Favorites</button>
        </div>
        <!--display list of recipes-->
        <div *ngFor="let r of rList | slice:0:5">
          <div style="border: solid yellow 1px">
            <h5>
              <a [routerLink]="['/detail-recipe', r.id]">{{r.recipeName}} : {{r.score}}</a>
              <button id="{{r.id}}" class="b3" (click)="warning(r.id)" style="background-color: transparent;">Remove Recipe</button>
            </h5>
            <img style="height: 150px; width: inherit" src="{{r.picture}}" />
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<!--group information-->
<div>
  <h2><a routerLink='/app-group'>Groups - Admin</a></h2>
  <div *ngFor="let g of gList; index as i">
    <p *ngIf="g.admin === true">{{g.groupName}}</p>
  </div>
</div>



