<h1>Add Friend</h1>
<button id=button (click)="revealEmail()">Search by Email?</button>
<button id=button2 (click)="revealName()">Search by Name?</button>
<div *ngIf="message != null">
  <p>{{message}}</p>
</div>
<div *ngIf="reveal1 != null">
  <form #Searchemail="ngForm" (ngSubmit)="searchbyEmail(Searchemail.form.value.search)">
    <input type="text" name="search" ngModel />
    <input type="submit" value="Email"/>
  </form>
</div>

<div *ngIf="reveal2 != null">
  <form #Searchname="ngForm" (ngSubmit)="searchbyName(Searchname.form.value.search)">
    <input type="text" name="search" ngModel />
    <input type="submit" value="Name" />
  </form>
</div>

<div *ngIf="email != null">
  <h3>results</h3>
  <p>{{email.loginId}}</p>
  <button (click)="AddFriend(email.id)">Add Friend</button>
</div>

<div *ngIf="uList != null">
  <h3>results</h3>
  <div *ngFor="let u of uList">
    <p>{{u.name}}</p>
      <button (click)="AddFriend(u.id)">Add Friend</button>
  </div>
</div>


