
<!--bootstrap container-->
<!--id: recipe will change the inner Html after submit recipe-->
<div class="container board-test center">

  <div>
    <h1>Add a New Recipe</h1>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div id="recipe">
        <div id="confirm">
          <form #addTitle="ngForm" (ngSubmit)="AddRecipe(addTitle.form.value.title); ConfirmTitle(addTitle.form.value.title)">
            <h2>Title </h2><input type="text" name="title" placeholder="Title of Recipe" ngModel /><br>
            <input type="submit" value="Create New Recipe" />
          </form>
        </div>
      </div>
    </div>

    <!-- Search and Add indregients -->
    <div class="row">
      <div class="col-lg">
        <div>
          <h2>Ingredients</h2>
          <ul *ngIf="iList !== null">
            <li *ngFor="let in of iList; index as i">
              <p>{{in.amount}} {{in.unit}} - {{in.item}} <button class="b2" (click)="RemoveIngredient(i)">x</button></p>
            </li>
          </ul>
          <form id="firstIng" #searchFoodForm="ngForm" (ngSubmit)="SearchIngredient(searchFoodForm.form.value.food)">
            <input type="search" name="food" placeholder="Search for ingredient" ngModel />
            <input type="submit" value="Find Ingredient" />
          </form>
          <div *ngIf="ing != null">
            <form #addIngredientForm="ngForm" (ngSubmit)="AddToIngArray(addIngredientForm)">
              <input type="hidden" name="food" value="{{ing.name}}" placeholder="{{ing.name}}" ngModel />
              <input type="hidden" name="recipeID" value="{{ing.id}}" ngModel />
              <input style="width: 50px" type="number" min="0" placeholder="1" name="amount" ngModel />
              <select name="unit" ngModel>
                <option disabled selected value>unit</option>

                <option value="g">g</option>
                <option value="oz">oz</option>
                <option value="tsp">tsp</option>
                <option value="tbsp">tbsp</option>
                <option value="cup">cup</option>
                <option value="lb">lb</option>
              </select>
              <input type="submit" value="Add Ingredient" />
            </form>
          </div>

          <!--let user add ingredient-->
          <div>
            <h3>add your own ingredients</h3>
            <p>*Nutritional information for submitted ingredients <br /> may not be accurate*</p>
            <form #addUserIngredientForm="ngForm" (ngSubmit)="AddUserIngredient(addUserIngredientForm);">
              <label>Name</label>
              <!--name of the food-->
              <input type="text" name="userIng" ngModel />
              <br />
              <!--amount of the food-->
              <label>Amount:</label>
              <input type="number" name="amount" ngModel />
              <!--select the measurement of the food-->
              <select name="unit" ngModel>
                <option value="g">g</option>
                <option value="oz">oz</option>
                <option value="tsp">tsp</option>
                <option value="tbsp">tbsp</option>
                <option value="cup">cup</option>
                <option value="lb">lb</option>
              </select>
              <br />

              <!-- Create a Flag/Message to let the user know the nutritional information is not accurate -->
              <!--Calories / Carbs / Fats / Protiens-->
              <label>Calories</label>
              <input type="number" min="0" name="calories" placeholder="calories" ngModel />
              <br />
              <label>Carb</label>
              <input type="number" min="0" name="carbs" placeholder="0" ngModel />
              <br />
              <label>Fats</label>
              <input type="number" min="0" name="fats" placeholder="0" ngModel />
              <br />
              <label>Protein</label>
              <input type="number" min="0" name="protein" placeholder="0" ngModel />
              <br />
              <input type="submit" />
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>

    <!--Add Directions-->
    <!--Add Image-->
    <!-- Update form and pass completed recipe to backend -->
    <div class="row">
      <div class="col-lg">
        <h2>Directions:</h2>

        <form #desForm="ngForm" (ngSubmit)="AddString(desForm)">
          <input type="text" name="step1" placeholder="step1" ngModel />
          <br />
          <input type="text" name="step2" placeholder="step2" ngModel />
          <br />
          <input type="text" name="step3" placeholder="step3" ngModel />
          <br />
          <div *ngIf="ste4 == false">
            <button (click)="step4()">Add step</button>
          </div>
          <div *ngIf="ste4 != false">
            <input type="text" name="step4" placeholder="step4" ngModel />
          </div>
          <div *ngIf="ste4 != false && ste5 == false">
            <button (click)="step5()">Add step</button>
          </div>
          <div *ngIf="ste5 != false">
            <input type="text" name="step5" placeholder="step5" ngModel />
          </div>
          <div *ngIf="ste5 != false && ste6 == false">
            <button (click)="step6()">Add step</button>
          </div>
          <div *ngIf="ste6 != false">
            <input type="text" name="step6" placeholder="step6" ngModel />
          </div>
          <div *ngIf="ste6 != false && ste7 == false">
            <button (click)="step7()">Add step</button>
          </div>
          <div *ngIf="ste7 != false">
            <input type="text" name="step7" placeholder="step7" ngModel />
          </div>
          <div *ngIf="ste7 != false && ste8== false">
            <button (click)="step8()">Add step</button>
          </div>
          <div *ngIf="ste8 != false">
            <input type="text" name="step8" placeholder="step8" ngModel />
          </div>
          <div *ngIf="ste8 != false && ste9 == false">
            <button (click)="step9()">Add step</button>
          </div>
          <div *ngIf="ste9 != false">
            <input type="text" name="step9" placeholder="step9" ngModel />
          </div>
          <div *ngIf="ste9 != false && ste10 == false">
            <button (click)="step10()">Add step</button>
          </div>
          <div *ngIf="ste10 != false">
            <input type="text" name="step10" placeholder="step10" ngModel />
          </div>
          <input type="submit" />
        </form>

        <form #directionsForm="ngForm" (ngSubmit)="UpdateRecipe(directionsForm); AddIngredientsToDB(); ConfirmRecipe()" id="dirform" enctype="multipart/form-data">
          Servings: <input type="number" name="servings" ngModel /><br />
          <!-- child selector- onUploadFinished @output event from child -->
          <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
          <!-- uploadFinished() is method from parent -->
          <br>
          <input type="submit" value="Add Recipe" />
        </form>
      </div>
    </div>
  </div>
</div>

<hr />









