<!--The id will be passed in, this is just for testing purposes-->

<div class="container main-border">

  <div *ngIf="message == null">
    <button style="float: right;" type="button" class="btn btn-outline-info button-space" (click)="completed(r.id)">I Made This!</button>
  </div>
    <div style="float: right;" *ngIf="message !== null">
      <h3>{{message}}</h3>
    </div>
  <div>
    <h2>{{r.recipeName}} </h2>
    <h6>*Nutritional information is only an estimate and may not be accurate*</h6>
  </div><br />
  <h2>Servings</h2>
  <h4>{{r.servings}}</h4>
  <div>
    <img class="secondary-border" style="width: 65%; height:inherit;float: right; margin: 20px 50px 15px 50px;" src="{{r.picture}}" />
  </div>
  <h2>Recipe Score</h2>
  <h4>{{r.score}}</h4>
  <div *ngFor="let user of u">
    <div *ngIf="user.id === r.userId">
      <h3>Created By: {{user.name}}</h3>
    </div>
  </div>

  <h2>Ingredients </h2>
  <div *ngFor="let ing of dbIngList">
    <h5 *ngIf="r.id === ing.recipeId">
      - {{ing.amount}} {{ing.unit}} {{ing.item}}
    </h5>
  </div>
  <div>
    <br />
    <h2>Steps</h2>
    <div *ngFor="let d of fullDes; index as i">
      <h5>{{i+1}}: {{d}}</h5>
    </div>
  </div>
  <div>
    <h2>Nutrition Per Serving </h2>
    <h4> Calories: {{calories | number:'1.1-1' }}</h4>
    <h4> Carbs: {{carbs | number:'1.1-1'}}</h4>
    <h4> Protein: {{protein  | number:'1.1-1'}}</h4>
    <h4> Fats: {{fats  | number:'1.1-1' }}</h4>
  </div>
</div>
